h1 {
    background-color: red;
}


p {
    background-color: yellow;
}
div.container {
  background-image: url("{% static 'images/images2.jpeg' %}");
  opacity: 1;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
    position: absolute;
    top: 80%;
    right: 0;
    width: auto;
    height: auto;
    border: 3px solid #73AD21;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: left;
}
