
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: left;
}
</style>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B95917D0-6A62-4E41-B137-6D783F2CFF9A/main.js" charset="UTF-8"></script></head>
<body>
<h2>Criterion-VI</h2>
<h2>6.Governance,Leadership and Management</h2>
<p>6.1 state the Vision and Mission of the institution</p>

<table style="width:65%">

<tr>
<td></td>
</tr>
</table>
<p>6.2 Does the Institution has a management Information System</p>

<table style="width:65%">

<tr>
<td></td>
</tr>
</table>
<p>6.3 state the Vision and Mission of the institution</p>
<p>6.3.1 Curriculum Development</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.2 Teaching and Learning</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.3 Examination and Evaluation</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.4 Research and Development</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.5 Library,ICT and physical infrastructure/instrumentation</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.6 Human Resource Management</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.7 Faculty and Staff recruitment</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.8 Industry Interaction/collaboration</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.3.9 Admission of students</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.4 Welfare schemes for</p>
<table style="width:50%">
  
  
  <tr>
    <td>Teaching</td>
    <td>   </td>
    
  </tr>
  <tr>
    <td>Non teaching</td>
    <td></td>
    
  </tr>
   <tr>
    <td>Students</td>
    
    <td></td>
    
  </tr>
 
</table>
<p>6.5 Total corpus fund generated</p>
<table style="width:15%">

<tr>
<td></td>
</tr>
</table>
<p>6.6 Whether annual financial audit has been done

<input type="radio" name="environment"  value="yes" > yes
  <input type="radio" name="environment" value="no"> no<br>
<p>6.7 Whether Academic and Administrative Audit(AAA) has been done?  </p>
<table style="width:100%">
  <tr>
  
    
    <th rowspan="2">Audit Type </th>
   
    <th colspan="2">External</th>
    <th colspan="2">Internal</th>
   
  </tr>
  <tr>
 
  
    <td>Yes/No</td>
    <td>Agency</td>
  
   
    <td>Yes/No</td>
    <td>Agency</td>
  
   
    
  </tr>
  <tr>
    <td>Academic</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
   
  </tr>
  <tr>
    <td>Administrative</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
   
  </table>
  <p>6.8 Does the University/Autonomous College declare results within 30days?</p>
  
  For UG Programmes:<input type="radio" name="environment"  value="yes" > yes
  <input type="radio" name="environment" value="no"> no<br>
  
  For PG Programmes:<input type="radio" name="environment"  value="yes" > yes
  <input type="radio" name="environment" value="no"> no<br>
  
<p>6.9 What efforts are made by the University/Autonomous College for Examination Reforms?</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.10 What efforts are made by the University to promote autonomy in the affiliated/constituent colleges?</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.11 Activities and support from the Alumni Association</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.12 Activities and support from the Parent-Teacher Association</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.13 Development programmes for support staff</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
<p>6.14 Initiatives taken by the institution to make the campus eco-friendly</p>
<table style="width:50%">

<tr>
<td></td>
</tr>
</table>
</body>
</html>
CRITERIA 6.FINAL
Displaying CRITERIA 6.FINAL.