<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 25px;
    text-align: left;
}
</style>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B95917D0-6A62-4E41-B137-6D783F2CFF9A/main.js" charset="UTF-8"></script></head>
<body>

<h2>Criterion-VII</h2>
<h2>7.Innovations and Best Practices</h2>

<p>
<form action="/action_page.php">
  7.1 Innovations introduced during this academic year which have created a positive impact on the functioning of the institution.Give details
  <input name="firstname" type="text">
  <br><br>
 </form>

 <p>
<form action="/action_page.php">
  7.2 Provide the Action Taken Report(ATR) based on the plan of action decided upon at the beginning of the year
  <input name="firstname" type="text">
  <br><br>
 </form>


<p>
<form action="/action_page.php">
  7.3 Give two Best Practices of the institution(please see the format in the NAAC Self-study Manuals)
  <input name="firstname" type="text">
  <br><br>
 </form>


<h2>*Provide the details in annexure(annexure need to be numbered as i,ii,iii)</h2>

<p>
<form action="/action_page.php">
7.4 Contribution to environmental awareness/protection
  <input name="firstname" type="text">
  <br><br>
 </form>


<p>7.5 Whether environmental audit was conducted?

<p>
<form action="/action_page.php">
  7.6 Any other relevant infrmation the institution wishes to add.(for example SWOT Analysis)
  <input name="firstname" type="text">
  <br><br>
 </form>


</body>
</html>
