<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
 border:1px solid black;
 border-collapse:collapse;
  
     padding: 10px;
      
</style>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B95917D0-6A62-4E41-B137-6D783F2CFF9A/main.js" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B95917D0-6A62-4E41-B137-6D783F2CFF9A/main.js" charset="UTF-8"></script></head>
<body> 
 <h2> CRITERIA 2 </h2>
<h2>Teaching,Learning,Evaluation</h2>
<p>2.1 Total no. of permanant faculty</p>
<table style="width:100%">
    <th>Total</th>
    <th>Assistant professors</th> 
    <th>Associate professors</th>
    <th>Professors</th>
    <th>Others</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
 
</table>

<p>
<form action="/action_page.php">
  2.2 No. of permanent faculty with Ph.D.
  <input name="firstname" type="text">
  <br><br>
 </form>

<p>2.3  No. of faculty positions recruited(R) and vacant(V) during the year</p>
<table style="width:100%">
 
  <tr>
    <th colspan="2">Asst.Professors</th>
    <th colspan="2">Associate Professors</th>
    <th colspan="2">Professors</th>
    <th colspan="2">Others</th>
    <th colspan="2">Total</th>
  </tr>
  <tr>
    <td>R</td>
    <td>V</td>
    <td>R</td>
    <td>V</td>
    <td>R</td>
    <td>V</td>
    <td>R</td>
    <td>V</td>
    <td>R</td>
    <td>V</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
</table>

<p>2.4  No. of Guest and Visiting faculty and Temporary faculty</p>
<table style="width:25%">
 <tr>
<td></td>
</tr>
<tr>
<td></td>
</tr>
</table>
<p>2.5 Faculty participation in conferences and symposia:</p>
<table style="width:80%">
  
  <tr>
    <th>No.of Faculty</th>
    <th>International level</th>
    <th>National level</th>
    <th>State level</th>
  </tr>
  <tr>
    <td>Attended</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Presented</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Resource Persons</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>
<form action="/action_page.php">
  2.6 Innovative process adopted by the institution in Teaching and Learning:
  <input name="firstname" type="text">
  <br><br>
 </form>

<p>
<form action="/action_page.php">
  2.7 Total No.of actual teaching days during this academic year
  <input name="firstname" type="text">
  <br><br>
 </form>

<p>
<form action="/action_page.php">
  2.8 Examination/Evaluation Reforms initiated by the institution(for example:Open Book Examination,Bar Coding,Double Valuation,Photocopy,Online Multiple Choice Questions)
  <input name="firstname" type="text">
  <br><br>
 </form>





<p>2.9 No.of faculty members involved in curriculum restructuring/revision/syllabus development as member of Board of Study/Faculty/Curriculum Development workshop </p>
<table style="width:60%">
  <tr>
    <th></th>
    <th></th> 
    <th></th>
  </tr> 
 </table> 
 
 <p>
<form action="/action_page.php">
  2.10 Average percentage of attendance of students 
  <input name="firstname" type="text">
  <br><br>
 </form>

 
 
 
<p>2.11 Courses/Programme Wise distribution of pass percentage:  </p>
<table style="width:100%">
  <tr>
    <th rowspan="2">Title of the programme</th>
    <th rowspan="2">Total no.of students appeared</th> 
    <th colspan="5">Division</th>
  </tr>
   
  <tr>
    <td>Distinction%</td>
    <td>I%</td>
    <td>II%</td>
    <td>III%</td>
    <td>Pass%</td>
  </tr>
  <tr>
   <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
   <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  <p>2.12 How does IQAC Contribute/Monitor/Evaluate the Teaching and Learning Process:</p>
  
  <p>2.13 Initiatives Undertaken towards faculty development</p>
  <table style="width:100%">
  <tr>
    <th>Faculty/Staff Development Programmes</th>
    <th>Number of faculty benefitted</th> 
  <tr>
    <td>Refreshers courses</td>
    <td></td>
    </tr>
    <tr>
    <td>UGC_Faculty Improvement Programme</td>
    <td></td>
    </tr>
    <tr>
    <td>HRD Programmes</td>
    <td></td>
    </tr>
    <tr>
    <td>Orientation Programmes</td>
    <td></td>
    </tr>
    <tr>
    <td>Faculty Exchange Programme</td>
    <td></td>
    </tr>
    <tr>
    <td>Staff Training Conducted by the University</td>
    <td></td>
    </tr>
    <tr>
    <td>Staff Training Conducted by Other Institutions </td>
    <td></td>
    </tr>
    <tr>
    <td>Summer/Winter Schools,Workshops,etc.</td>
    <td></td>
    </tr>
    <tr>
    <td>Others</td>
    <td></td>
    </tr>
    </table>
    <p>2.14 Details of Administrative and Technical Staff</p>
    <table style="width:100%">
    <th>Category</th>
    <th>number of Permanent Employees</th> 
    <th>number of Vacant Positions</th>
    <th>number of Permanent Positions filled during the year</th>
    <th>number of Positions filled temporarily</th>
  </tr>

  <tr>
    <td>Administrative Staff</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td>Technical Staff</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
 
  </table>
  
  
</body>
</html>
