{% extends 'form/start.html' %}
{% block content %}
<body>
<h2>CRITERIA 3</h2>
<h2>3.Research,consultancy and Extension</h2>

<p>
<form action="/action_page.php">
  3.1 Initiatives of the IQAC in Sensitizing/Promoting Research Climate in the institution
  <input name="firstname" type="text">
  <br><br>
 </form>
</body>
</html>


<p>3.2 Details regarding major projects</p>
<table style="width:100%">
    <th></th>
    <th>Completed</th>
    <th>Ongoing</th>
    <th>Sanctioned</th>
    <th>Submitted</th>

  <tr>
    <td>Number</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

 <tr>
    <td>Outlay in Rs.Lakhs</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>3.3 Details regarding minor projects</p>
<table style="width:100%">
    <th></th>
    <th>Completed</th>
    <th>Ongoing</th>
    <th>Sanctioned</th>
    <th>Submitted</th>

  <tr>
    <td>Number</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

 <tr>
    <td>Outlay in Rs.Lakhs</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>3.4 Details on research publications</p>
<table style="width:100%">
    <th></th>
    <th>International</th>
    <th>National</th>
    <th>Others</th>

  <tr>
    <td>Peer Review Journals</td>
    <td></td>
    <td></td>
    <td></td>

  </tr>

 <tr>
    <td>Non-Peer Review Journals</td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>e-Journals</td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>Conference proceedings</td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
</table>
<p>3.5 Details on Impact factor of publications:


<p>3.6 Research funds sanctioned and received from various funding agencies,industry and other organisations</p>
<table style="width:100%">

  <tr>
    <th>Nature of the Project</th>
    <th>Duration year</th>
    <th>Name of the funding Agency</th>
    <th>Total grant sanctioned</th>
    <th>Received</th>
  </tr>
  <tr>
    <td>Major Projects </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>Minor Projects</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Interdisciplinary Projects</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Industry sponsored</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Projects sponsored by the University/College</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>Students research projects(other than compulsory by the University)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

    <tr>
    <td>Any other(Specify)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>3.7 No.of books published</p>
<p>
<form action="/action_page.php">
  1)With ISBN No:
  <input name="firstname" type="text">
  <br><br>
  Chapters in Edited Book
<input name="firstname" type="text">
  <br><br>
<p>
<form action="/action_page.php">
  2)Without ISBN No.
  <input name="firstname" type="text">
  <br><br>
  <p>3.8 No.of University Departments receiving funds from</p>


  <p>3.9 For colleges</p>


  <p>
<form action="/action_page.php">
  3.10 Revenue generated through consultancy
  <input name="firstname" type="text">
  <br><br>
 </form>
<p>3.11 No.of conferences organized by the Institution</p>
<table style="width:100%">

  <tr>
    <th>Level</th>
    <th>International</th>
    <th>National</th>
    <th>State</th>
    <th>University</th>
    <th>College</th>
  </tr>
  <tr>
    <td>Number </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Sponsoring agencies</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
   <p>
<form action="/action_page.php">
  3.12 No.of faculty served as experts,chairpersons or resource persons
  <input name="firstname" type="text">
  <br><br>
 </form>
<p>3.13 No.of collaborations</p>
 <p>
<form action="/action_page.php">
  3.14 No.of linkages created during this year
  <input name="firstname" type="text">
  <br><br>
 </form>

 <p>3.15 Total budget for research for current year in lakhs:</p>
<p>
<form action="/action_page.php">
  From Funding agency
  <input name="firstname" type="text">
  <br><br>
  From Management of University/College
<input name="firstname" type="text">
  <br><br>
<p>
<form action="/action_page.php">
  Total
  <input name="firstname" type="text">
  <br><br>
 <p>3.16 No.of patents received this year</p>
<table style="width:100%">
  <tr>
    <th>Type of Patent</th>
    <th> </th>
    <th>Number</th>
  </tr>
  <tr>
    <td rowspan="2">National</td>
    <td>Applied</td>
    <td></td>
  </tr>
    <tr>
    <td>Granted</td>
    <td></td>
  </tr>
   <tr>
    <td rowspan="2">International</td>
    <td>Applied</td>
    <td></td>
  </tr>
    <tr>
    <td>Granted</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2">Commercialised</td>
    <td>Applied</td>
    <td></td>
  </tr>
    <tr>
    <td>Granted</td>
    <td></td>
  </tr>
  </table>
  <p>3.17 No.of research awards/recognitions received by faculty and research fellows of the institute in the year</p>
<table style="width:100%">

  <tr>
    <th>Total</th>
    <th>International</th>
    <th>National</th>
    <th>State</th>
    <th>University</th>
    <th>Dist</th>
    <th>College</th>
  </tr>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
     <td></td>
    <td></td>
  </tr>
  </table>

<p>
<form action="/action_page.php">
3.18 No.of faculty from the Institution who are Ph.D.Guides and students registered under them
  <input name="firstname" type="text">

  <input name="firstname" type="text">
  <br><br>

<p>
<form action="/action_page.php">
3.19 No.of Ph.D. awarded by faculty from the Institution
  <input name="firstname" type="text">
  <br><br>


 <p>3.20 No.of Research scholars receiving the Fellowships(Newly enrolled+existing ones)</p>

 <p>3.21 No.of students Participated in NSS events:</p>

 <p>3.22 No.of students Participated in NCC events:</p>

 <p>3.23 No.of Awards won in NSS:</p>

 <p>3.24 No.of Awards won in NCC:</p>

 <p>3.25 No.of Extension activities organized</p>

 <p>3.26 Major Activities during the year in the sphere of extension activities and Institutional Social Responsibility</p>
 <ul style="list-style-type:disc">
  <li></li>
  <li></li>
</ul>
</form>
{% endblock %}
