{% extends 'form/start.html' %}
{% block content %}
<div class="col-lg-12 text-center">
<h2>CRITERIA 5</h2>
<h3>Student Support and Progression</h3>

<form method="post">
  {% csrf_token %}
5.1 Contribution of IQAC in enhancing awareness about Student Support Services:<br>
<input type="text" name="firstname">
<br>
5.2 Efforts made by the institution for tracking the progression :<br>
<input type="text" name="lastname">
<br><br>



<p>5.3(a) Total Number of Students</p>
<table style="width:100%">
  <tr>
    <th>UG</th>
    <th>PG</th>
    <th>Ph.D.</th>
    <th>Others</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
        <td></td>
    <td></td>

  </tr>
</table>
(b)No. of students outside the state:
<br>

<input type="text" name="firstname">
<br>
(c)No. of international students:<br>
<input type="text" name="lastname">
<br><br>
<table style="width:20%">
  <tr>
    <th>No</th>
    <th>%</th>
  </tr>
  <tr>
    <td></td>
    <td></td>

  </tr>



  <table style="width:100%">
  <tr>
    <th colspan="6">last year</th>
    <th colspan="6">this year</th>
  </tr>
  <tr>
    <td>general</td>
    <td>SC</td>
    <td>ST</td>
        <td>OBC</td>
    <td>Physically Challenged</td>
    <td>Total</td>

    <td>general</td>
    <td>SC</td>
    <td>ST</td>
        <td>OBC</td>
    <td>Physically Challenged</td>
    <td>Total</td>
    </tr>
      <tr>
    <td></td>
    <td></td>
    <td></td>
        <td></td>
    <td></td>
    <td></td>

    <td></td>
    <td></td>
    <td></td>
        <td></td>
    <td></td>
    <td></td>
</tr>
 </table>

 5.4 Details of student support mechanism for coaching for competitive examinations(If Any):<br>
<input type="text" name="firstname">
<br>
No. of student benificiaries:<br>
<input type="text" name="lastname">
<br><br>

<p>5.5 No. of students qualified in these examinations</p>

5.6 Details of student counselling and career guidance:<br>
<input type="text" name="firstname">
<br>
No. of student benifited:<br>
<input type="text" name="lastname">
<br><br>

<p>5.7 Details of campus placements</p>
 <table style="width:100%">
  <tr>
    <th colspan="3">On campus</th>
    <th> Off campus</th>
  </tr>
  <tr>
    <td>No of Organisations visited</td>
    <td>No of students participated</td>
    <td>No of students placed</td>
    <td>No of students placed</td>


    </tr>
      <tr>
    <td></td>
    <td></td>
    <td></td>
        <td></td>

</tr>
 </table>
 5.8 Details of gender sensitization programmes:<br>
<input type="text" name="firstname">
<br>

<p>5.9 Student Activities</p>
<p>5.9.1 No. of students participated in Sports, Games and other events:</p>



<p> No. of students participated in cultural events</p>
<p>5.9.2 No. of medals/awards won by students in Sports, Games and other events</p>

<p>5.10 Scholarships and Financial Support</p>
<table style="width:100%">
  <tr>
    <th></th>
    <th>Number of students</th>
    <th>Amount</th>

  </tr>

  <tr>
    <td>Financial Support from Institution</td>
    <td></td>
        <td></td>
    </tr>

    <tr>
    <td>Financial Support from Government</td>
    <td></td>
        <td></td>
    </tr>

    <tr>
    <td>Financial Support from Other Sources</td>
    <td></td>
        <td></td>
    </tr>

    <tr>
    <td>Number of students who received International/National recognitions</td>
    <td></td>
        <td></td>
    </tr>
    </table>

    <p> 5.11 Student organised/initiatives</p>



      5.12 No. of social initiatives undertaken by the students:<br>
<input type="text" name="firstname">
<br>
<p>5.13 Major grievances of students(if any) redressed:</p>










<input type="submit" value="submit">
</form>



</div>
{% endblock %}
