{% extends 'form/start.html' %}
{% block content %}

<div class="col-lg-12 text-center">
<h2> CRITERIA 4</h2>
<form method="post">
  {% csrf_token %}
<h2>4.Infrastructure and Learning Resources</h2>
<p>4.1 Details of increase in infrastructure facilities:</p>
<table style="width:100%">

  <tr>
    <th>Facilities</th>
    <th>Existing</th>
    <th>Newly created</th>
    <th>Source of Fund</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Campus area</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>Class rooms</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Laboratories</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Seminar Halls</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>No.of important equipments purchased(>= 1-0 lakh)during the current year.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>Value of the euipment purchased during the year(Rs.in Lakhs)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
     </tr>
    <tr>
    <td>Others</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
     </tr>
</table>

<p>
  4.2 Computerisation of Administration and Library :
  <h2><input name="firstname" type="text"></h2>
  <br><br>


<p>4.3 Library services:  </p>
<table style="width:100%">
  <tr>
    <th rowspan="2"> </th>
    <th colspan="2">Existing</th>
    <th colspan="2">Newly added</th>
    <th colspan="2">Total</th>
  </tr>

  <tr>
    <td>No.</td>
    <td>Value</td>


    <td>No.</td>
    <td>Value</td>


    <td>No.</td>
    <td>Value</td>
  </tr>
  <tr>
    <td>Text Books</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Reference Books</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>e-Books</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Journals</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>e-Journals</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>Digital Database</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

    <tr>
    <td>CD & Video</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Others(specify)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
     </tr>

  </table>

<p>4.4 Technology Upgradation(overall)</p>
<table style="width:50%">

  <tr>
    <th></th>
    <th>Total Computers</th>
    <th>Computer Labs</th>
    <th>Internet</th>
    <th>Browsing Centres</th>
    <th>Computer Centres</th>
    <th>Office</th>
    <th>Departments</th>
    <th>Others</th>
  </tr>
  <tr>
    <td>Existing</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>Added</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>

<p>
  4.5 Computer,Internet access,training to teachers and students and any other programme for technology upgradation(Networking,e-Governance etc.)
  <input name="firstname" type="text">
  <br><br>

<p>4.6 Amount spent on maintenance in lakhs:</p>
<p>
  1)ICT:
  <input name="firstname" type="text">
  <br><br>

<p>
  2)Campus infrastructure and facilities:
  <input name="firstname" type="text">
  <br><br>

<p>
  3)Equipments:
  <input name="firstname" type="text">
  <br><br>


<p>
 4) Others:
  <input name="firstname" type="text">
  <br><br>


<p>
  <b>Total</b>:
  <input name="firstname" type="text">
  <br><br>
  <input type="submit" value="submit">
  <br><br>
 </form>
</div>
{% endblock %}
