{% extends 'form/start.html' %}
{% block content %}

<div class="col-lg-12 text-center">
<h2>Criterion-VII</h2>
<h2>7.Innovations and Best Practices</h2>

<form method="post">
  7.1 Innovations introduced during this academic year which have created a positive impact on the functioning of the institution.Give details
  <input name="firstname" type="text">
  <br><br>

  7.2 Provide the Action Taken Report(ATR) based on the plan of action decided upon at the beginning of the year
  <input name="firstname" type="text">
  <br><br>


  7.3 Give two Best Practices of the institution(please see the format in the NAAC Self-study Manuals)
  <input name="firstname" type="text">
  <br><br>


<h2>*Provide the details in annexure(annexure need to be numbered as i,ii,iii)</h2>

7.4 Contribution to environmental awareness/protection
  <input name="firstname" type="text">
  <br><br>


<p>7.5 Whether environmental audit was conducted?

  7.6 Any other relevant infrmation the institution wishes to add.(for example SWOT Analysis)
  <input name="firstname" type="text">
  <br><br>
  <input type="submit" value="submit">
  <br><br>
 </form>
</div>

{% endblock %}
