
<!DOCTYPE html>
<html>
<head>
<title>Institution Details</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>
  {% csrf_token %}
<div class="jumbotron text-center">
<form method="post">
{{ form.as_p }}
<table border="1">
{{ cycle1.as_table }}
{{ cycle2.as_table }}
{{ cycle3.as_table }}
{{ cycle4.as_table }}
</table>
<input type="submit"
</form>
</div>
</body>
</html>
